<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">有想法？Join us!</h2>
                    <h3 class="section-subheading text-muted">申请加入CSA流程</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>报名条件</h4>
                                    <h4 class="subheading">Application Requirments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">在KSU学习并至少还有一年毕业，有热情和能力志愿组织学联活动，有足够的业余时间从事学联工作</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>部门介绍</h4>
                                    <h4 class="subheading">Department introduction</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">肯特州立CSA设立的部门有：秘书部，传媒部，策划部，财务部，外联部，IT技术部</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>申请方式</h4>
                                    <h4 class="subheading">Way to apply</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">请将简历发送到csa.kent@gmail.com或者联系肯特州立CSA官方微信 kentstatecsa</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>成员福利</h4>
                                    <h4 class="subheading">Member Benefits</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">·生日趴、毕业趴、（生日、毕业礼物）·团建（聚餐，旅行）·建立校内外人际网·求职培训和职位内推·享受赞助商优惠折扣（机票，旅行团，暑校学费，买车等）</p>                             
                                       
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>我们<br>期待你的<br>加入！</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>