<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="http://www.kent.edu" target="_blank">Go Flashes!!</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"关于我们</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">精彩活动</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">加入CSA</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">官方媒体</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://mp.weixin.qq.com/s/4oQZfU6WxnLGjNBS_ooDlQ" target="_blank">奖学金信息</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.kent.edu/china/apply" target="_blank">申请入学</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header style="margin-top:115px">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">肯特州立大学中国学生会<br><h2>Chinese Student Association<h5></div>
                <!-- <div class="intro-lead-in">受中国驻美国大使馆承认、资助与支持</div> -->
                <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

