<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">关于我们</h2>
                    <h3 class="section-subheading text-muted">肯特州立大学中国学生会Chinese Student Association (CSA)<br>是目前肯特州立大学唯一为中国学生学者服务而成立的学生组织。<br>同时也是肯特州立大学唯一一个受中国驻美国大使馆<br>承认、资助与支持并代表学生学者团体的组织。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">促进中美文化交流</h4>
                    <p class="text-muted">尽我们的力量帮助回答中国学生学者在肯特州立大学的学习、工作与生活中所遇到的问题。协助环球教育办公室对中国学生的管理和招生工作；</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">提升社区华人凝聚力</h4>
                    <p class="text-muted">中国学生学者之间的对话交流的平台，提升华人，华侨凝聚力；</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">推进校园国际化发展</h4>
                    <p class="text-muted">与学校以及社会各界积极开展各种文化交流活动，发扬并宣传中华优秀文化，让博大精深的中国文化走向世界。</p>
                </div>
            </div>
        </div>
    </section>